/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

$lightgray: #E6E8E7;
$lightblue: #879AAC;
$darkblue: #3F4C58;
$verydarkblue: #2A2E32;

body {
	background-color: $lightgray;
	font-family: "Verlag";
	font-weight: 500;
	font-size: 1.2em;
	color: $darkblue;
	padding-bottom: 72px;
}
h1, h2, h3, h4, h5, h6, p, label {
	color: $darkblue;
}
a {
	color: $lightblue;
}
a:hover {
	color: $darkblue;
	text-decoration:none;
}
a.navbar-brand {
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 0.1em;
	font-family:"Verlag";
	font-size:1.4em;
	color: $darkblue;
	margin-top:7px;
}
a.nav-link {
	margin-top:12px;
}
nav.navbar {
	padding-left: 0;
	margin-bottom: 24px;
}
input[type="text"] {
	outline: none;
	border: 0;
	border-bottom: 2px solid $lightblue;
	width: 100%;
	font-size: 1.8em;
	font-weight: 600;
	color: $darkblue;
}
.shot-field {
	margin-bottom: 2em;
}
label {
	font-weight:800;
	letter-spacing: 0.2em;
	margin-bottom:0;
	text-transform: uppercase;
	color: $lightblue;
}
label[for=shot_name] {
	font-size:0.8em;
	margin-bottom: 6px;
}
label[for^=shot_links], label[for^=shot_published] {
	font-size:0.6em;
	margin-bottom: 0;
	font-weight:600px;
}
input#shot_name {
	font-size:2em;
	margin-bottom:25px;
}
input[id^=shot_links] {
	font-size:1em;
	line-height:1em;
	margin-bottom:17px;
	border-bottom-width: 1px;
}
div.shot-link-field {
	margin-bottom: 24px;
}
input[type="submit"], a.add_fields {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size:0.8em;
	font-weight:600;
	border-radius: 2px;
}
a.add_fields {
	color: $darkblue;
	background-color: none;
	border: 2px solid $darkblue;
	padding:0.7em 1em 0.5em 1em;
}
input[type="submit"] {
	background-color: $darkblue;
	color: $lightgray;
	padding:0.5em 1em 0.4em 1em;
}
input[type="submit"]:hover {
	cursor:pointer;
}
input[type="checkbox"] {
	margin-right:4px;
}
div.publish-action {
	float:left;
	margin-top:12px;
}
div.submit-action {
	float:right;
	margin-top:6px;
}
a.remove_fields {
	float:right;
	font-weight:600;
	letter-spacing: 0.15em;
	margin-bottom:0;
	text-transform: uppercase;
	font-size:0.6em;
	margin-top: 7px;
}
div.links {
	clear:both;
}
div.links > div.nested-fields {
	margin-bottom:60px;
}
div.main {
	background-color: #fff;
	padding:66px 24px;
	box-shadow: 0px 0px 8px rgba(63,76,88,0.2);
	border-radius: 2px;
}
img#avatar {
	height: 24px;
	width: 24px;
	margin-right: 4px;
	margin-bottom:3px;
	border-radius: 3px;
}