/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

$gray: #ECECEC;
$darkblue: #1F2629;
$purple: #B149B7;

body {
	background-color: $gray;
	font-family: "FreightSans Pro";
}

.left-col {

}

h1, h2, h3, h4, h5, h6, p, label {
	color: $darkblue;
}

a {
	color: $purple;
}

a.navbar-brand {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2em;
}

nav.navbar {
	padding-left: 0;
}